// ___________________________________________________________________
// Containers
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: auto;
  padding-inline: 1rem;

  @media #{$brkpoint-md} {
    max-width: 90rem;
    padding-inline: 2.5rem;
  }
}
