// ___________________________________________________________________
// Header Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

header {
  position: relative;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  width: 100%;

  .logo img {
    display: block;
  }

  @media #{$brkpoint-md} {
    gap: 3.875rem;
    padding-bottom: 6.5rem;
    padding-top: 2rem;
  }
}
