// ___________________________________________________________________
// Main Section Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90rem;

  @media #{$brkpoint-md} {
    flex-direction: row-reverse;
  }
}

.hero__image {
  justify-self: center;
  margin-bottom: 3rem;
  max-width: 30rem;

  img {
    display: block;
    max-width: 100%;
  }

  @media #{$brkpoint-md} {
    align-self: flex-start;
  }
}

.hero__header {
  text-align: center;
  padding-bottom: 3rem;
  max-width: 33.75rem;

  @media #{$brkpoint-md} {
    padding-top: 6rem;
    text-align: left;
  }
}

.hero__heading {
  margin-bottom: 1rem;

  @media #{$brkpoint-md} {
    margin-bottom: 3rem;
    min-width: 33.75rem;
  }
}

.hero__subheading {
  margin-bottom: 1.5rem;

  @media #{$brkpoint-md} {
    margin-bottom: 3.1875rem;
    max-width: 28.8125rem;
  }
}

.hero__clients {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  max-width: 30rem;
  padding-bottom: 5rem;
  padding-top: 3rem;

  img {
    display: block;
    max-width: 100%;
  }

  @media #{$brkpoint-md} {
    justify-content: space-between;
    padding-top: 6.75rem;
  }
}

.line-break::after {
  @media #{$brkpoint-md} {
    content: '\a';
    white-space: pre;
  }
}
