// ___________________________________________________________________
// Navigation
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.main-nav__list {
  padding-left: 1.5rem;
  padding-top: 2rem;
}

.main-nav__link,
.submenu__link-icons,
.submenu__link {
  @include text($text-S, $font-weight--regular, $text-color-primary);
  line-height: $line-height__default;

  &:hover {
    color: $text-color-secondary;
  }
}

.main-nav__item,
.submenu__item {
  margin-bottom: 1rem;
}

.submenu__item {
  padding-left: 1.5rem;
}

.submenu__item:first-child {
  margin-top: 1rem;
}

.submenu__link-icons {
  display: grid;
  grid-template-columns: 2rem 1fr;

  img {
    vertical-align: middle;
  }
}

.nav-icon__arrow {
  @include size(10px, 6px);
  margin-left: 1rem;
  vertical-align: middle;
}

// States to hide/show slide-out nav for mobile
.show-menu {
  visibility: visible;
}

.hide-menu {
  visibility: hidden;
}

.overlay {
  background: $text-color-secondary;
  mix-blend-mode: normal;
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.slide-nav-content {
  background: $bg-color-primary;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 2;
  width: 15rem;
}

// States to hide/show submenu
.main-nav__list .main-nav__item .main-nav__sub-menu {
  display: none;
}

.main-nav__list .main-nav__item:hover .main-nav__sub-menu {
  display: block;
}

// Flip nav-icon arrow up on hover
.main-nav__list .main-nav__item:hover .nav-icon__arrow {
  transform: rotate(180deg);
}

// Hide inline svg for nav-icon
.hidden {
  display: none;
}

// Styles for login/register buttons
.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.3125rem 0 0;
  width: 100%;
}
