// ___________________________________________________________________
// Navigation
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.main-nav {
  @media #{$brkpoint-md} {
    display: block;
    position: relative;
    width: 100%;
  }
}

.main-nav__list {
  padding-left: 1.5rem;
  padding-top: 2rem;

  @media #{$brkpoint-md} {
    display: inline-flex;
    align-items: center;
    gap: 2.5rem;
    padding: 0;
    visibility: visible;
    width: 100%;
  }
}

.main-nav__sub-menu {
  @media #{$brkpoint-md} {
    @include rounded(10px);
    background-color: $bg-color-primary;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
    margin-top: 1.25rem;
    padding: 1.5rem;
    position: absolute;
  }
}

.main-nav__link,
.main-nav__dropdown,
.submenu__link-icons,
.submenu__link {
  @include text($text-S, $font-weight--regular, $text-color-primary);
  line-height: $line-height__default;

  &:hover {
    color: $text-color-secondary;
  }
}

.main-nav__dropdown {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-family: $font-family--primary;
  padding: 0;
}

.main-nav__item,
.submenu__item {
  margin-bottom: 1rem;
}

.main-nav__item {
  @media #{$brkpoint-md} {
    margin-bottom: 0;
  }
}

.submenu__item {
  padding-left: 1.5rem;

  @media #{$brkpoint-md} {
    padding-left: 0;
  }
}

.submenu__item:first-child {
  margin-top: 1rem;

  @media #{$brkpoint-md} {
    margin-top: 0;
  }
}

.submenu__item:last-child {
  @media #{$brkpoint-md} {
    margin-bottom: 0;
  }
}

.submenu__link-icons {
  display: grid;
  grid-template-columns: 2rem 1fr;
  width: 15ch;

  img {
    vertical-align: middle;
  }
}

.nav-icon__arrow {
  @include size(10px, 6px);
  margin-left: 1rem;
  vertical-align: middle;
}

// Move first dropdown menu to left so doesn't overlap next dropdown menu
#features-menu {
  @media #{$brkpoint-md} {
    margin-left: -4rem;
  }
}

// States to hide/show slide-out nav for mobile
.show-menu {
  transform: translate3d(-15rem, 0, 0);
  transition: width 0.5s all ease-in-out;
}

.visible {
  visibility: visible;
}

.hide-menu {
  visibility: hidden;
}

// Hide submenus; Hide inline svg for nav-icon arrow
.hidden {
  display: none;
}

.dropdown-active {
  display: block;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.65);
  mix-blend-mode: normal;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.slide-nav-content {
  background: $bg-color-primary;
  display: block;
  position: fixed;
  top: 0;
  right: -15rem;
  height: 100vh;
  z-index: 2;
  width: 15rem;

  @media #{$brkpoint-md} {
    background: none;
    position: relative;
    top: unset;
    right: unset;
    height: unset;
    z-index: unset;
    width: 100%;
  }
}

// Hover states for submenus
.main-nav__list .main-nav__item {
  &:hover .main-nav__sub-menu,
  &:focus-within .main-nav__sub-menu{
    display: block;
  }
}

// Flip nav-icon arrow up on hover
.main-nav__list .main-nav__item:hover .nav-icon__arrow,
.main-nav__list .main-nav__item:focus-within .nav-icon__arrow {
  transform: rotate(180deg);
}

// Styles for login/register buttons
.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.3125rem 0 0;

  @media #{$brkpoint-md} {
    flex-direction: row;
    padding: 0;
    margin-left: auto;
  }
}
