// ___________________________________________________________________
// Button Styles
// ___________________________________________________________________
  
@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

// Navigation Buttons
.btn__open-nav,
.btn__close-nav {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.btn__close-nav {
  margin-left: 12.25rem;
  padding-top: 1.375rem;

  &:hover {
    transform: scale(1.25);
  }
}
