// ___________________________________________________________________
// Button Styles
// ___________________________________________________________________
  
@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

// Navigation Buttons
.btn {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-family: $font-family--primary;

  &:hover {
    color: $text-color-secondary;
    transition: ease-in 0.2s;
  }
}

.btn__open-nav {
  @media #{$brkpoint-md} {
    display: none;
  }
}

.btn__close-nav {
  margin-left: 12.25rem;
  padding-top: 1.375rem;

  &:hover {
    transform: scale(1.25);
  }

  @media #{$brkpoint-md} {
    display: none;
  }
}

.btn__login,
.btn__register {
  @include text($text-XS, $font-weight--regular, $text-color-primary);
  line-height: $line-height__bodyS;
  width: 100%;
}

.btn__login {
  margin-bottom: 1rem;

  @media #{$brkpoint-md} {
    margin-bottom: 0;
  }
}

.btn__register {
  @include rounded(14px);
  border: 1.5px solid $text-color-primary;
  padding: 0.8125rem 0;

  &:hover {
    border-color: $text-color-secondary;
  }

  @media #{$brkpoint-md} {
    margin-left: 2.5rem;
    padding: 0.8125rem 1.375rem;
  }
}

// Hero Button
.btn__hero {
  @include rounded(15px);
  @include text($text-S, $font-weight--bold, $text-color-tertiary);
  background-color: $text-color-secondary;
  letter-spacing: -0.22px;
  line-height: $line-height__default;
  padding: 0.625rem 1.375rem;
  max-width: 10rem;
  justify-self: center;

  &:hover {
    background-color: $bg-color-primary;
    box-shadow: 0 0 0 1px $text-color-secondary;
    color: $text-color-secondary;
  }

  @media #{$brkpoint-md} {
    font-size: $text-M;
    justify-self: flex-start;
    letter-spacing: -0.25px;
    max-width: 10.75rem;
    padding: 0.875rem 1.875rem;
  }
}
